<page-content>
  <display-content class="simple-page">
    404. You see 7 great rivers feed the great bodies of water and 7 great mountains. 
    <a href="/">Return to the realm</a>.
  </display-content>
</page-content>