<%= if @allowed do %>
  <page-content>
    <display-content>
      <%= render(GabblerWeb.PostView, "index.html", assigns) %>
    </display-content>

    <action-pane>
      <%= render(GabblerWeb.UserView, "sidebar.html", assigns) %>
    </action-pane>
  </page-content>
<% else %>
  <%= render(GabblerWeb.RoomView, "barred_entry.html", assigns) %>
<% end %>