/* LAYOUT & STANDARD ELEMENTS */
body {
  margin: 0;
  font-size: 13pt;
  font-family: "Verdana", Geneva, "sans-serif";
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #464646;
  height: 53px;
  padding: 7px 15px;
  font-weight: bold;
}
header img {
  height: 50px;
  padding-left: 5px;
}

sub-header {
  background-color: #FFF;
  color: #464646;
  line-height: 40px;
  margin-left: 20px;
}
sub-header a {
  color: #464646;
}

page-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

main {
}
page-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
display-content {
  width: 100%;
  margin: 0 20px;
}
action-pane {
  flex-shrink: 0;
}

/* ROOM */
.room-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 3px 0;
  padding: 20px 0;
}
.room-title img {
  max-width: 100%;
  margin: -20px;
}
.description {
  padding: 11px 0px;
  margin: 0 0 20px 0;
  position: relative;
  border-bottom: 1px solid #464646;
}
.room-control {
  font-size: 18px;
  font-weight: bold;
}

.posts {
  width: 100%;
}

/* POST & VOTE */
.post {
  display: flex;
  justify-content: flex-start;
  margin: 26px 0;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px dashed #dedada;
  padding-bottom: 6px;
}
.vote {
  margin: 10px 6px 15px 0;
  width: 28px;
}
.vote-up,
.vote-down {
  cursor: pointer;
}
.preview-square {
  height: 75px;
  width: 75px;
  margin: 0 5px;
  background-color: #ABABAB;
  text-align: center;
  color: #5A4D4D;
  font-size: 18px;
  line-height: 75px;
  cursor: default;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #464646;
  cursor: pointer;
}
.preview-square img {
  vertical-align: baseline;
  width: 75px;
  height: 75px;
}
.preview-square strong {
  text-decoration: none;
}
.preview-square a {
  text-decoration: none;
}
.title {
}
.title .text {
  min-height: 60px;  
  line-height: 27px;
}
.actions {
  text-align: right;
  flex-grow: 1;
  margin-right: 20px;
}
.actions a {
  display: block;
  width: 200px;
  background-color: #464646;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  color: #ffF;
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 3px;
}
.actions strong {
  color: #e2842b;
}
.actions .meta-available {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions .meta-available div {
  margin: 0 3px;
}
.actions .meta-available div:last-child {
  line-height: 23px;
  padding-top: 0px;
  margin-top: 3px;
}

.original-post {
  padding: 20px;
  background-color: #F3F3F3;
  border-radius: 4px;
  position: relative;
}
.original-post .post {
  margin: unset;
}
.op-title {
  flex-grow: 1;
  font-size: 18px;
  margin: 0 10px;
  line-height: 27px;
}
.original-post .op-story-mode {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: 10px;
}

/* POST */
.comments a {
  display: unset;
  background: none;
  color: #3984e2;
}
.comments .mod-action {
  color: #E29739;
}
.comment {
  display: flex;
  padding: 10px;
  margin-bottom: 6px;
}
.story-paging {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.story-paging button {
  margin: 0 5px;
  color: #317ab7;
  font-size: 17px;
  font-weight: bold;
  background: none;
  border: none;
}

.iframe-container {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 540px;
}

/* UTIL */
.not-found-404 {
  margin: 20px;
}
.external a {
  color: #e2842b;
}

/* Mobile Specific Areas */
.mobile {
  display: none;
}
.mobile-sidebar-options {
  width: 100%;
}
.mobile-sidebar-options a,
nav a {
  color: #317ab7;
  font-size: 14px;
  background-color: #ffffff;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #b6b0b0;
  text-decoration: none;
  display: block;
  margin: 7px 4px 5px 0;
  min-width: 115px;
  line-height: 38px;
}
.mobile-sidebar-options a {
  min-width: 44px;
  padding: 0px;
}

@media screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  action-pane {
  }
  sub-header {
    display: none;
  }

  nav ul {
    top: 0;
    right: -13px;
  }
}