/* LAYOUT & STANDARD ELEMENTS */
body {
  margin: 0;
  font-size: 13pt;
  font-family: "Verdana", Geneva, "sans-serif";
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #3D3B30;
  height: 53px;
  padding: 7px 15px;
  font-weight: bold;
}
header img {
  height: 50px;
  padding-left: 5px;
}

sub-header {
color: #3D3B30;
  line-height: 40px;
  height: 40px;
  background-color: #F7F7F2;
  padding-left: 20px;
  display: block;
}
sub-header a {
  color: #3D3B30;
  text-decoration: underline;
}
sub-header span {
  color: #000;
}

page-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
action-pane {
}

main {
}
page-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
display-content {
  width: 100%;
  margin: 0 20px 0 20px;
  background-color: #FFF;
}
display-room-content {
  width: 100%;
  margin: -60px 0 0 0;
  background-color: #fff;
  padding-left: 20px;
  border-top: 1px solid #000;
}
action-pane {
  flex-shrink: 0;
}

.intro h1 {
  font-size: 18pt;
}
.simple-page {
  margin: 20px;
  padding: 20px;
  background-color: #F7F7F2;
  color: #3D3B30;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #8CB369;
}

/* ROOM */
.room-title {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  min-height: 50px;
}
.room-adjustment {
  margin-bottom: 80px;
  margin-top: 10px;
}
.room-title img {
  width: 100%;
  margin-bottom: -80px;
  margin-top: -10px;
}
.room-title-house {
  margin-top: 60px;
}
.description {
  padding: 11px 0px;
  margin: 0 0 20px 0;
  position: relative;
}
.description a {
  font-weight: bold;
}
.description span {
  color: #8CB369;
  font-weight: bold;
}
.description .button-action {
  float: right;
  width: 188px;
  margin-right: 20px;
  font-weight: bold;
  background-color: #fff;
  color: #0E79B2;
  border-color: #0E79B2;
  text-decoration: underline;
}
.room-control {
  font-size: 18px;
  font-weight: bold;
}
.room-control .active {
  text-decoration: underline;
}

.posts {
  width: 100%;
}

/* POST & VOTE */
.post {
  display: flex;
  justify-content: flex-start;
  margin: 26px 0;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px dashed #dedada;
  padding-bottom: 6px;
}
.vote {
  margin: 10px 6px 15px 0;
  width: 28px;
}
.vote-up,
.vote-down {
  cursor: pointer;
}
.preview-square {
  height: 75px;
  width: 75px;
  margin: 0 5px;
  background-color: #ABABAB;
  text-align: center;
  color: #5A4D4D;
  font-size: 18px;
  line-height: 75px;
  cursor: default;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #3D3B30;
  cursor: pointer;
}
.preview-square img {
  vertical-align: baseline;
  width: 75px;
  height: 75px;
}
.preview-square strong {
  text-decoration: none;
}
.preview-square a {
  text-decoration: none;
}
.title {
}
.title .text {
  min-height: 60px;  
  line-height: 27px;
}
.actions {
  text-align: right;
  flex-grow: 1;
  margin-right: 20px;
}
.actions a {
  display: block;
  width: 200px;
  background-color: #3D3B30;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  color: #FFF;
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 3px;
}
.actions .tags {
  margin: 5px 0;
}
.actions .tags a {
  display: unset;
  width: unset;
  background-color: unset;
  padding: unset;
  color: #377ab7;
  font-size: 13pt;
  text-decoration: underline;
  margin: none;
}
.actions strong {
  color: #F9A03F;
}
.actions .meta-available {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions .meta-available div {
  margin: 0 3px;
}
.actions .meta-available div:last-child {
  line-height: 23px;
  padding-top: 0px;
  margin-top: 3px;
}

.original-post {
  padding: 20px;
  background-color: #F3F3F3;
  border-radius: 4px;
  position: relative;
}
.original-post .post {
  margin: unset;
}
.op-title {
  flex-grow: 1;
  font-size: 18px;
  margin: 0 10px;
  line-height: 27px;
}
.original-post .op-story-mode {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: 10px;
}

/* POST */
.comments a {
  display: unset;
  background: none;
  color: #0E79B2;
}
.comments .mod-action {
  color: #E29739;
}
.comment {
  display: flex;
  padding: 10px;
  margin-bottom: 6px;
}
.story-paging {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.story-paging button {
  margin: 0 5px;
  color: #0E79B2;
  font-size: 17px;
  font-weight: bold;
  background: none;
  border: none;
}

/* POST CREATE */
.iframe-container {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 540px;
}
.story-uploading {
  margin: 20px 0;
}

/* SIDEBAR */
.current-room form {
  display: flex; 
}

/* TRENDING */
.suggestions {
  display: flex;
  border-top: 2px solid #3D3B30;
  position: relative;
  width: 100%;
  height: 215px;
  background-color: #F7F7F2;
}
.sidebar .suggestions {
  height: 200px;
  margin-bottom: 2px;
}
.suggestions-room {
  background-color: unset;
}
.suggestions .background-image {
  width: 100%;
  text-align: center;
}
.suggestions .background-image img {
  height: 200px;
}
.sidebar .suggestions .background-image img {
  height: 138px;
}
.images-many {
  justify-content: flex-start;
  flex-direction: column;
}
.images-few {
  justify-content: flex-start;
  flex-direction: row;
}
.text-only {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.suggestions .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0 40px;
  overflow: hidden;
}
.images-few .images {
  overflow: unset;
  margin: unset;
}
.suggestions .description {
  padding: 11px 0px;
  margin: 0 0 20px 0;
  border-top: none;
  width: 72%;
}
.images-many .thumb {
}
.suggestions .thumb-single {
  margin: 0 30px;
}
.sidebar .suggestions .thumb-single {
  margin: 0 20px 0 40px;
}
.suggestions .title-center-justified {
  margin: 20px 20px 0 0;
}
.sidebar .suggestions .title-center-justified {
  margin: unset;
}
.suggestions .title-centered {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}
.sidebar .suggestions .title-centered {
  overflow: hidden;
}
.suggestions .title-centered a {
  text-decoration: underline;
}
.suggestions .title-center-low-right {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.suggestions .title-center-low-left {
  position: absolute;
  top: 10px;
  left: 0;
}
.suggestions .title-center-low-right a {
  font-weight: bold;
  font-size: 18pt;
  text-decoration: underline;
}
.suggestions .title-center-low-left {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.suggestions .title-center-low-left a {
  font-weight: bold;
  font-size: 10pt;
}
.suggestions .title-left {

}

/* UTIL */
.not-found-404 {
  margin: 20px;
}
.external a {
  color: #F9A03F;
}
.alert-temp {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Mobile Specific Areas */
.mobile {
  display: none;
}
.mobile-sidebar-options {
  width: 100%;
}
.mobile-sidebar-options a,
nav a {
  color: #0E79B2;
  font-size: 14px;
  background-color: #f7f7f2;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #b6b0b0;
  text-decoration: none;
  display: block;
  margin: 7px 4px 5px 0;
  min-width: 115px;
  line-height: 38px;
}
.mobile-sidebar-options a {
  min-width: 44px;
  padding: 0px;
  border-radius: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  action-pane {
  }
  sub-header {
    display: none;
  }
  display-content {
    width: unset;
    margin: 0 3px;
  }
  page-content {
    flex-direction: column-reverse;
  }

  nav ul {
    top: 0;
    right: -13px;
    width: unset;
  }
  nav .menu {
    right: -20px;
  }
  nav .menu .activity {
    display: none;
  }

  .suggestions {
    display: none;
  }

  .sidebar {
    background-color: #d9d7d7;
    width: unset;
    border-radius: 0;
  }

  .posts .actions {
    display: none;
  }

  .menu .options a {
    width: unset;
  }
  .menu .options a:last-child {
    border-bottom: 2px solid #000;
  }

  .original-post {
    padding: 0;
  }
  .original-post img {
    width: 100%;
    margin-left: 0;
  }
  .original-post .op-story-mode div {
    margin: 5px 3px;
  }
  .story-view img {
    width: 100%;
  }
  .story-view-close {
    top: -3px;
    right: 3px;
  }
  .story-view .view-mode {
    display: none;
  }

  .op-actions {
    padding: 0;
  }
  .op-actions .reply {
    display: block;
    margin: 24px;
  }
  .op-actions .mod-action {
    display: none;
  }

  .comment-reply-form {
    width: unset;
  }
  .comment-reply-form textarea {
    width: -webkit-fill-available;
  }
  .comment-reply-form-actions {
    width: unset;
  }
  .comment-reply-form-actions a {
    padding: 8px 9px 9px 9px;
  }

  .room-title {
    max-width: unset;
    margin: 0 -3px;
    padding: 0;
  }
  .room-title img {
    margin: 0;
  }

  .moderating .room {
    margin: unset;
    width: unset;
  }
}