<%= if !@room do %>
  <%= render(GabblerWeb.RoomView, "404.html", assigns) %>
<% else %>
  <%= if @allowed do %>
    <%= render(GabblerWeb.RoomView, "index.html", assigns) %>

    <%= render(GabblerWeb.UserView, "sidebar.html", assigns) %>
  <% else %>
    <%= render(GabblerWeb.RoomView, "barred_entry.html", assigns) %>
  <% end %>
<% end %>