<%= if !@room do %>
  <%= render(GabblerWeb.RoomView, "404.html", assigns) %>
<% else %>
  <%= render(GabblerWeb.RoomView, "index.html", assigns) %>

  <%= render(GabblerWeb.UserView, "sidebar.html", assigns) %>
<% end %>