<div class="room-title room-adjustment">
  <%= raw @room.title %>
</div>

<page-content>
  <display-room-content>
    <%= render(GabblerWeb.RoomView, "index.html", assigns) %>
  </display-room-content>

  <action-pane>
    <%= render(GabblerWeb.RoomView, "create.html", assigns) %>
  </action-pane>
</page-content>