<div class="preview-square">
  <%= cond do %>
    <% !@post_meta -> %>
      <strong>Text</strong>
    <% @post_meta.thumb && String.length(@post_meta.thumb) -> %>
      <img src="<%= @post_meta.thumb %>" />

    <% @post_meta.link -> %>
      <strong>Link</strong>

    <% true -> %>
      <strong>Text</strong>
  <% end %>
</div>