<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gabbler: build your community">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" href="/favicon.ico?v=1" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tag() %>
    <title>
      <%= Application.get_env(:gabbler, :page_title, "Gabbler") %>: 
      <%= title(assigns) %>
    </title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <page-container>
      <header>
        <a href="/">
          <img class="logo" src="/images/logo/<%= logo() %>.svg" />
        </a>

        <%= live_render(@conn, GabblerWeb.Live.User.Menu, session: %{
          "user" => assigns[:user], 
          "temp_token" => assigns[:temp_token]}) %>
      </header>

      <sub-header>
        <span>Get Started: </span>
        <%= for nav_item <- Application.get_env(:gabbler, :sub_nav, []) do %>
          <a href=<%= nav_item %>><%= nav_item %></a>&nbsp;&nbsp;
        <% end %>
        <%= if assigns[:trending_tags] do %>
          <span>Trending Tags: </span>
          <%= for tag <- @trending_tags do %>
            <a href="/h/tag_tracker?tag=<%= tag %>"><%= tag %></a>&nbsp;&nbsp;
          <% end %>
        <% end %>
      </sub-header>

      <main role="main">
        <%= @inner_content %>
      </main>
    </page-container>

    <%= live_render(@conn, GabblerWeb.Live.User.Login, 
      session: %{
        "user" => assigns[:user], 
        "temp_token" => assigns[:temp_token], 
        "csrf" => Phoenix.Controller.get_csrf_token()}) %>
  </body>
</html>